html, body {
    margin: 0;
    border: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 30em;
    width: 30em;
    display: grid;
    border-style: solid;
    border-color: black;
}

.container2 {
    height: 7.25em;
    width: 30em;
    display: grid;
    border-style: solid;
    border-color: black;
    border-bottom: none;
}

.container-sub {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-style: solid;
    border-color: black;
}

.container-sub div:hover {
    background-color: rgb(247, 241, 241);
}

.screen {
    display: grid;
    border-style: solid;
    border-color: black;
    border-bottom: none;
}



.row-div {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width:thin;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   